# Node
node_modules
dist
build

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
env/
*.egg-info
.pytest_cache/

# Django
db.sqlite3
media/
staticfiles/

# Docker
.env
*.log
*.pid
.env.dev
.env.server
.env.public
.env.local
.env.aws

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfplan
infra/terraform/*.tfvars


# VSCode / Devcontainer
.vscode/
.devcontainer/data

# macOS
.DS_Store

# Redis dumps
*.rdb

# Backend generated/legacy artifacts
apps/backend/generated/
apps/backend/terraform/
apps/backend/terraform_with_modules/
